src/main/webapp/WEB-INF/wsdl/Mtom.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ws.sps.com/wsdl/Mtom/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:mtom="http://ws.sps.com/mtom/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
	targetNamespace="http://ws.sps.com/wsdl/Mtom/"
	name="Mtom">
	
	<wsdl:types>
		<xsd:schema xmlns="http://schemas.xmlsoap.org/wsdl/"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://ws.sps.com/mtom/">

			<xsd:import namespace="http://www.w3.org/2005/05/xmlmime"
				schemaLocation="Mtom.xsd" />

			<xsd:complexType name="AttachmentType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="fileName" type="xsd:string" />
					<xsd:element minOccurs="0" name="binaryData" type="xsd:base64Binary"
						xmime:expectedContentTypes="application/octet-stream" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="TransferRequest" type="mtom:AttachmentType" />
			<xsd:element name="TransferResponse" type="xsd:string" />
		</xsd:schema>
    </wsdl:types>

	<wsdl:message name="FileTransferRequest">
		<wsdl:part name="Request" element="mtom:TransferRequest" />
	</wsdl:message>
	<wsdl:message name="FileTransferResponse">
		<wsdl:part name="Response" element="mtom:TransferResponse" />
	</wsdl:message>

	<wsdl:portType name="MtomPort">
		<wsdl:operation name="transferFile">
			<wsdl:input message="tns:FileTransferRequest" />
			<wsdl:output message="tns:FileTransferResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="MtomSOAP" type="tns:MtomPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />

		<wsdl:operation name="transferFile">
			<soap:operation soapAction="transferFile" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="MTOM">
		<wsdl:port name="MtomSOAP" binding="tns:MtomSOAP">
			<soap:address location="http://localhost/mtom" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>